.section_about {
  display: flex;
  grid-template-columns: 243px 1fr 1.5fr;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background: #011627;
}


.sub_category {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 0 0 8px 16px;
  font-family: "Fira Code";
  list-style-type: none;
}

.sub_category:hover {
  color: whitesmoke;
  transition: all 100ms;
  cursor: pointer;
  
}

.about_text_area {

  display: flex;
 

  color: #607b96;
  padding: 17px 38px;
  border: 1px solid #1E2D3D;
  border-left: none;
  font-family: "Fira Code";

 flex-basis: 40%;
 overflow: auto;
height: auto;
}

.about_numeric {
  list-style-type: none;
   font-family: "Fira Code";
}
.about_text_content {
  align-self: flex-start;
}


/* "Я только в начале пути изучения большого мира фронтэнда \n. До этого я несколько лет проектировала атомные станции. Занимаюсь пилоном. Недавно научилась делать колесо и вышивать бисером." */



