
.container {
  height: 200px;
  width: 700px;
  display: flex;
  border-radius: 16px;
  background: grey;
  border: 1px solid black;
  opacity: 50%;
  cursor: pointer;
  justify-content: space-between;
}

.activeSlide {
  height: 200px;
  width: 700px;
  display: flex;
  border-radius: 16px;
  margin: 20px 0;
  background: grey;
  transform: scale(1.2);
  cursor: pointer;
  justify-content: space-between;
  margin: 30px 0;

}


.pic > img {
  width: 300px;
  height: 100%;
  border-radius: 0 16px 16px 0;

}

.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info > p {
  padding-left: 15px;
  color: aqua;
  font-size: 8px;
  
}

.links {
  display: flex;
  align-self: self-end;
}
