section {
  background: pink;
  width: 100%;
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  height: 150px;
  width: 500px;
  display: flex;
  border-radius: 16px;
  background: grey;
  border: 1px solid black;
  opacity: 50%;
  transition: 0.3s;
}

.activeSlide {
  height: 150px;
  width: 500px;
  display: flex;
  border-radius: 16px;
margin: 20px 0;
  background: grey;
  transform: scale(1.2);
  transition: 0.3s;
}

.pic > img {
  width: 200px;
  height: 100%;
  border-radius: 0 16px 16px 0;
}

.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info > p {
  padding-left: 15px;
  color: aqua;
  font-size: 8px;
}

.links {
  display: flex;
  justify-content: space-around;
}
