.home_container {
  display: flex;
  background: #011627;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #1E2D3D;
  height: 100%;
}

.color_container {
  width: 780px;
  height: 750px;
  position: relative;
}

.do {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 454px;
  height: 492px;
}

.go {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 454px;
  height: 492px;
}

.snake {
  position: absolute;
  width: 475px;
 
  top: 137px;
  left: 47px;
  z-index: 15;
   border-radius: 60% 40% 40% 20%;
  transition: box-shadow ease-in 150ms;
}

