.about_text_area {
  display: flex;
  color: #607b96;
  padding: 17px 38px;
  border: 1px solid #1e2d3d;
  border-left-color: rgb(30, 45, 61);
  border-left-style: solid;
  border-left-width: 1px;
  border-left: none;
  font-family: "Fira Code";
  flex-basis: 40%;
  height: 100%;
}

.about_numeric {
  list-style-type: none;
  font-family: "Fira Code";
}
.about_text_content {
  align-self: flex-start;
}
