



.about_text_area {

  display: flex;
 

  color: #607b96;
  padding: 17px 38px;
  border: 1px solid #1E2D3D;
  border-left: none;
  font-family: "Fira Code";

 flex-basis: 40%;
}

.about_numeric {
  list-style-type: none;
   font-family: "Fira Code";
}
.about_text_content {
  align-self: flex-start;
}