.about_text_area {
  display: flex;
  width: 100%;
  color: rgb(50, 90, 123);
  padding: 17px 28px;
  border-right: 1px solid #1e2d3d;
  font-family: "Fira Code";
  align-items: flex-start;
  flex-basis: 40%;
  overflow: auto;
}

.about_numeric {
  list-style-type: none;
  font-family: "Fira Code";
}
