.container {
  display: flex;
  color: #23024e;
  height: 55px;
  font-family: "Fira Code";
}

.container li {
  display: flex;
  border: 1px solid #1e2d3d;
  border-bottom: none;
  border-top: none;
  border-right: none;
}

.container li:first-child {
  padding: 16px 32px;
  width: 227px;
  border-right: none;
}

.container li:nth-child(4) {
  border-right: 1px solid #1e2d3d;
}

.container li:last-child {
  margin-left: auto;
}

.container a {
  text-decoration: none;
  padding: 16px 32px;
}
