.container {
  display: flex;
  color: #23024e;
  height: 50px;
}

.logo {
  height: 20px;
  align-self: center;
  padding-top: 2px;
  justify-self: center;
  margin-left: 10px;
  filter: hue-rotate(23deg);
}

.container > li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1e2d3d;
  border-top: none;
  border-bottom: none;
}

.container > li:first-child {
  padding: 0 18px;
  width: 228px;
}

.container > li:last-child {
  margin-left: auto;
  padding: 0 23px 0 15px;
}

.container > li > a {
  display: flex;
  text-decoration: none;
}

.container > li > a:visited {
  color: #23024e;
}
