* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* #root {
    display: flex;
  height: calc(100vh - 55px - 50px - 140px);
  width: calc(100vh - 140px);
  justify-content: center;
  align-items: center;
  
} */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 69px; */
  background: #010c15;
  font-family: 'Fira Code';
  min-height: 100vh;



}

main {
  border:  1px solid #1e2d3d;
  height: calc(100vh - 55px - 50px - 140px);
  width: calc(100vw - 140px);
}

/* @import url("https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css"); */
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/848d6580/stylesheets/obsidian.css');
.gist-meta {
  display: none;
}

article > h2 {
  display: none;
}

.active {
  display: block;
  height: 100%;
  padding: 16px 32px;
  width: 100%;
  color: #ffffff;
  border-bottom: 2px solid #fea55f;
}

.not_active {
  display: block;
  height: 100%;
  padding: 16px 32px;
  width: 100%;
}
