* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  padding: 69px;
  background: #010C15;
}



@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');
.gist-meta {
  display: none;
}

article > h2 {
  display: none;
}

.active {
  display: block;
  height: 100%;
  padding: 16px 32px;
  width: 100%;

  color: hotpink;
  border-bottom: 2px solid #FEA55F;

}

.not_active {
    display: block;
  height: 100%;
  padding: 16px 32px;
  width: 100%;

}